html{
    font-size: 62.5%;
    body{
        width: 100%;
        margin: auto;
        max-width: var(--max-width-page);
        scroll-behavior: smooth;
        font-family: pr;
        font-size: var(--text-bd-fs);
        line-height: var(--text-bd-lh);
        letter-spacing: var(--text-bd-lp);
        color: var(--cl-black);
        .container-fluid{
            width: 100%;
            max-width: var(--max-width-container-fluid);
            padding: 0 var(--gap);
            margin: 0 auto;
            position: relative;
        }    
        .container{
            width: 100%;
            max-width: var(--max-width-container);
            padding: 0 var(--gap);
            margin: 0 auto;
            position: relative;
        }
        .main{
            position: relative;
            section{
                &.--pdtb{
                    padding: var(--pd-section) 0; 
                }
                &.--pdt{
                    padding-top: var(--pd-section);
                }
                &.--pdb{
                    padding-bottom: var(--pd-section);
                }
            }
        }
        &.--active{
            overflow:hidden;
        }
    }
}